.hr {
  background-color: rgb(219, 219, 219);
  /* width: 62rem; */
  height: 0.06rem;
}

.outerDiv {
  margin: 0px;
  /* width: 62rem; */
}
.outerDiv:hover {
  background: rgb(245, 244, 244);
  cursor: pointer;
}
.leftDiv {
  margin-left: 24px;
}
.innerDiv {
  display: flex;
  justify-content: space-between;
  /* width: 62rem; */
}

.address {
  height: 1.68rem;
  margin-bottom: 0.875rem;
  font-style: normal;
  font-weight: 600;
  font-size: 0.81rem;
  display: flex;
  align-items: center;
  text-align: center;
  color: #7c7877;
}
.name {
  margin-top: 0px;
  margin-bottom: 0.875rem;
  font-style: normal;
  font-weight: 700;
  font-size: 1.38rem;
  color: #000000;
}

.intro {
  margin-top: 0px;
  margin-bottom: 0.875rem;
  font-style: normal;
  font-weight: 400;
  font-size: 0.88px;
  color: #000000;
}

.subCategory {
  margin-top: 0px;
  margin-bottom: 0.875rem;
  margin-left: 0rem;
  margin-right: 0.62rem;
  background-color: #f0e5de;
  width: 5rem;
  height: 1.88rem;
  border: 0;
  outline: 0;
  font-size: 0.75rem;
  border-radius: 1.25rem;
  font-family: "Inter";
  align-items: center;
  text-align: center;
  line-height: 1.88rem;
  color: black;
  font-weight: 400;
}

.img {
  width: 5.63rem;
  height: 5.63rem;
  margin: auto;
  margin-top: 1.5rem;
  background-color: gray;
  border-radius: 0.3125rem;
}

.rating {
  margin-right: 1.5rem;
  font-style: normal;
  font-weight: 700;
  font-size: 0.88rem;
  color: #7c7877;
}

.rating span {
  font-size: 1.1rem;
  color: #eecc51;
}
