.name {
  font-style: normal;
  font-weight: 600;
  font-size: 0.8rem;
  color: #000000;
}

.rating {
  margin: 0 0.44rem 0 0.25rem;
  font-style: normal;
  font-weight: 600;
  font-size: 0.9rem;

  color: #000000;
}

.gray {
  margin: 2px 0 0 0.25rem;
  font-style: normal;
  font-weight: 600;
  font-size: 0.75rem;

  color: #7c7877;
}

.oneLine {
  display: flex;
  margin-bottom: 0.31rem;
}

.content {
  margin: 0 0 0.75rem 0;
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;

  color: #000000;
}

.date {
  font-style: normal;
  font-weight: 400;
  font-size: 0.63rem;
  color: #7c7877;
}
