.backgroundImg {
  position: absolute;
  left: 0;
  width: 100vw;
  height: 18rem;
  background-color: gray;
  opacity: 50%;
  overflow: hidden;
}
.Img {
  width: 100%;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}
