.titleDiv {
  display: flex;
  margin-top: 1.06rem;
  margin-bottom: 1.25rem;
  justify-content: space-between;
}

.title {
  margin: 0 0 0 0.94rem;
  font-style: normal;
  font-weight: 700;
  font-size: 1.06rem;
}

.btn {
  width: 1.81rem;
  height: 1.63rem;
  line-height: 1.63rem;
}
.btnTextGreen {
  font-style: normal;
  font-weight: 700;
  font-size: 0.88rem;

  color: #72a1a6;
}

.cardList {
  display: flex;
  position: relative;
  margin-left: 1.25rem;
}

.deleteBtn {
  position: relative;
  left: 4.5rem;
  bottom: 8rem;
  border: none;
  background: none;
  cursor: pointer;
}

.deleteBtn svg {
  pointer-events: none;
}
