.title {
  margin-bottom: 0.88rem;
  font-style: normal;
  font-weight: 700;
  font-size: 1.06rem;

  color: #000000;
}

.oneLine {
  display: flex;
}

.score {
  margin: 8px 10px 0 0;
  font-weight: 600;
  font-size: 1.88rem;
  color: #000000;
}

.star {
}

.reviewCount {
  margin: 0 0 2.5rem 0;
}

.body {
  /*margin-left: 1.06rem;*/
}

.btn {
  width: 1.81rem;
  height: 1.63rem;
  line-height: 1.63rem;
}
.btnTextRed {
  font-style: normal;
  font-weight: 700;
  font-size: 0.88rem;
  pointer-events: none;
  color: #e64c3c;
}

.reviewList {
  position: relative;
}

.claimBtn {
  position: absolute;
  top: 0;
  right: 0;
}
