.mainctg {
  display: inline-block;
  text-align: center;
  margin: 0.4rem;
}

.center {
  display: flex;
  justify-content:center;
}

.imgsmall {
  width: 3.2rem;
  height: 3.2rem;
  margin: auto;
}

.font {
  font-size: 0.65rem;
}