.mainctg {
  display: inline-block;
  text-align: center;
  margin-left: 0.6rem;
  margin-right: 0.6rem;
  transition: all 0.1s linear;
}
.mainctg:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.center {
  display: flex;
  justify-content: center;
}

img {
  width: 60px;
  height: 60px;
  margin: auto;
}
