.list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*list item*/
.mainctg {
  display: inline-block;
  text-align: center;
  margin-left: 0.6rem;
  margin-right: 0.6rem;
  padding: 1rem;
}
.select {
  background: #e5f3f5;
  border-radius: 20px;
  transition: all 0.1s linear;
}
.mainctg:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.center {
  display: flex;
  justify-content: center;
  margin-top: 3px;
  color: gray;
}

.img {
  width: 60px;
  height: 60px;
  margin: auto;
}
