.subCategoryList {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.hr {
  background-color: rgb(219, 219, 219);
  /* width: 62rem; */
  height: 0.06rem;
}

/*list item*/
/* 선택안됨 */
.subCategoryUnSelected {
  margin-left: 0.31rem;
  margin-right: 0.31rem;
  background-color: #d9d9d9;
  width: max-content;
  height: 1.88rem;
  border: 0;
  outline: 0;
  font-size: 0.81rem;
  border-radius: 1.25rem;
  align-items: center;
  text-align: center;
  line-height: 1.88rem;
  color: white;
  font-family: "Pretendard-Regular"; /*버튼에 왜 안먹지..*/
  padding: 0 0.7rem 0 0.7rem;
}

/* 선택됨 */
.subCategorySelected {
  margin-left: 0.31rem;
  margin-right: 0.31rem;
  background-color: #72a1a6;
  width: max-content;
  height: 1.88rem;
  border: 0;
  outline: 0;
  font-size: 0.81rem;
  border-radius: 1.25rem;
  align-items: center;
  text-align: center;
  line-height: 1.88rem;
  color: white;
  font-family: "Pretendard-Regular";
  padding: 0 0.7rem 0 0.7rem;
}
/* 선택해주세요 */
.subCategory {
  margin-left: 0.31rem;
  margin-right: 0.31rem;
  background-color: #ffffff;
  color: #72a1a6;
  border: 1px solid #72a1a6;
  width: max-content;
  height: 1.88rem;
  font-size: 0.81rem;
  border-radius: 1.25rem;
  align-items: center;
  text-align: center;
  line-height: 1.88rem;
  font-family: "Pretendard-Regular";
  padding: 0 0.7rem 0 0.7rem;
}
