/* 선택안됨
.subCategoryUnSelected {
  margin-left: 0.31rem;
  margin-right: 0.31rem;
  background-color: #d9d9d9;
  width: 5rem;
  height: 1.88rem;
  border: 0;
  outline: 0;
  font-size: 0.81rem;
  border-radius: 1.25rem;
  align-items: center;
  text-align: center;
  line-height: 1.88rem;
  color: white;
  font-weight: 400;
  font-family: "Pretendard-Regular";
}

/* 선택됨 */
/* .subCategorySelected {
  margin-left: 0.31rem;
  margin-right: 0.31rem;
  background-color: #72a1a6;
  width: 5rem;
  height: 1.88rem;
  border: 0;
  outline: 0;
  font-size: 0.81rem;
  border-radius: 1.25rem;
  align-items: center;
  text-align: center;
  line-height: 1.88rem;
  color: white;
  font-weight: 400;
  font-family: "Pretendard-Regular";
} */
