.navbar {
  position: absolute;
  width: 1440px;
  height: 65px;
  left: 0px;
  top: 0px;
}

.logo {
  position: absolute;
  width: 169.23px;
  height: 50px;
  left: 224px;
  top: 7px;
}

.login {
  width: 42px;
  height: 13px;
  left: calc(50% - 42px/2 + 386px);
  top: calc(50% - 13px/2 - 479.5px);
}

.register {
  width: 57px;
  height: 13px;
  left: calc(50% - 57px/2 + 464.5px);
  top: calc(50% - 13px/2 - 479.5px);
}

.reserve {
  width: 117px;
  height: 40px;
  left: calc(50% - 117px/2 + 200.5px);
  top: 12px;
}

.mypage {
  width: 117px;
  height: 40px;
  left: 968px;
  top: 12px;
}

.greeting {
  width: 117px;
  height: 40px;
  left: 1000px;
  top: 12px;
}

.common {
  position: absolute;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;

  /* 3 */

  color: #7C7877;
}