.header {
  position: relative;
  width: 100%;
  height: 4.06rem;
  display: flex;
  justify-content: space-between;
  /*배너에 왜 패딩이 생길까..*/
  margin: 0 24px 0 24px;
}

.logo {
  position: absolute;
  width: 10.56rem;
  height: 3.13rem;
  /* left: 14rem; */
  left: 0%;
  top: 0.5rem;
}

.ml {
  margin-left: auto;
}

.login {
  left: 82.5%;
  top: 0.5rem;
}

.register {
  left: 90%;
  top: 0.5rem;
}

.reserve {
  position: absolute;
  left: 72.3%;
  top: 0.5rem;
}

.myactivity {
  position: absolute;
  left: 79.8%;
  top: 0.5rem;
}

.greeting {
  position: absolute;
  left: 89%;
  cursor: pointer;
  box-sizing: border-box;
}

.common {
  position: absolute;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.18rem;
  margin-top: 1rem;
}

.activate {
  color: #72a1a6;
  font-weight: bold;
}

.notactivate {
  color: #7c7877;
  /* font-weight: bold; */
}

.flex {
  display: flex;
  align-items: flex-end;
}

.center {
  display: flex;
  align-items: center;
  margin-top: 0.2rem;
}

.btn {
  margin-left: 0.3rem;
}

.mypageho {
  position: absolute;
  left: 71.5%;
  top: 0.5rem;
}

.manage {
  position: absolute;
  left: 80%;
  top: 0.5rem;
}
