.label {
  font-weight: bold;
  padding: 30px 0 0 0;
}
.labelFirst {
  font-weight: bold;
}
.labelPadding {
  padding: 20px 0 0;
}
.labelcolor {
  color: #72a1a6;
}
.formwrapper {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputForm {
  background-color: #fff;
  border-radius: 10px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  width: 35rem;
}
.flexBetween {
  display: flex;
  justify-content: space-between;
}
.flexCenter {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.flex {
  display: flex;
  justify-content: space-evenly;
}
.phoneinput {
  color: white;
  width: 400px !important;
}
.button {
  margin-top: 8px;
  margin-left: 4px;
}
.buttons {
  display: flex;
  justify-content: flex-end;
}
