.label {
  font-weight: bold;
  padding: 15px 0 0 0;
}
.labelcolor {
  color: #72a1a6;
}
.formwrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputForm {
  background-color: #fff;
  border-radius: 10px;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  width: 35rem;
}
.flexBetween {
  display: flex;
  justify-content: space-between;
}
.flexCenter {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
