.label {
  font-weight: bold;
}
.labelFirst {
  font-weight: bold;
}
.inputfile {
  padding: 2px 10px;
  border-color: rgb(158, 158, 158);
  border-radius: 4px;
  color: rgb(158, 158, 158);
  border: 2px solid rgb(158, 158, 158);
  cursor: pointer;
  margin-top: 5px;
}
.marginBottom {
  margin-bottom: 2rem;
}
.margin {
  margin-bottom: 10px;
}
.btn {
  padding: 10px;
  border-color: #72a1a6;
  border-radius: 4px;
  color: #72a1a6;
  border: 2px solid #72a1a6;
  cursor: pointer;
  text-align: center;
  line-height: 100%;
}
.errorColor {
  color: #e64c3c;
}
.trueColor {
  color: green;
}
.flexInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
