.my {
  margin-top: 0.6rem;
  margin-bottom: 0.875rem;
}

.parts {
  color: #72A1A6;
  margin-right: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
}

.opinion {
  font-size: 1rem;
}

.price {
  font-size: 1.2rem;
  font-weight: bold;
}