.outerDiv {
  position: relative;
  top: 8rem;
  width: 17.13rem;
  border: 1px solid #d9d9d9;
  border-radius: 0.625rem;
  background-color: white;
}

.dateDiv {
  height: 100px;
}

/* .footerDiv {
  height: 13.75rem;
  vertical-align: bottom;
} */
.inFooterDiv {
  margin-top: 2rem;
  margin-bottom: 0;
}

.inFooterDiv button {
  display: block;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.agree {
  margin: 0 0 0 0.63rem;
  font-style: normal;
  font-weight: 800;
  font-size: 0.88rem;

  color: #72a1a6;
}

.checkBox {
  display: flex;
  margin-right: 1rem;
  font-style: normal;
  font-weight: 400;
  font-size: 0.5rem;

  color: #414750;
}

.inputfile {
  margin: 10px;
  padding: 2px 10px;
  border-color: #72a1a6;
  border-radius: 4px;
  color: #72a1a6;
  border: 2px solid #72a1a6;
  cursor: pointer;
}
.inputfile:hover {
  background-color: #72a1a6;
  color: white;
}
.margin {
  margin: 10px;
}
/* .ptag {
  margin-top: 5px;
  font-size: small;
  color: #414750;
} */
