.outerDiv {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0.5rem 0.5rem 0.5rem;
}
.box {
  width: 1.88rem;
  height: 5rem;

  font-style: normal;
  font-weight: 300;
  font-size: 0.94rem;
  text-align: center;
  color: #7c7877;

  cursor: pointer;
}

.box p {
  line-height: 1.88rem;
  margin-top: 0;
  margin-bottom: 5px;
}

.selected {
  width: 1.88rem;
  height: 1.88rem;
  border-radius: 1.88rem;
  background: #72a1a6;

  font-style: normal;
  font-weight: 400;
  font-size: 0.94rem;

  color: #ffffff;
}
