.outerDiv {
  position: relative;
  top: 8rem;
  width: 17.13rem;
  border: 1px solid #d9d9d9;
  border-radius: 0.625rem;
  background-color: white;
}

.dateDiv {
  height: 100px;
}

.footerDiv {
  height: 13.75rem;
}
