/* .div video {
  width: 800px !important;
  height: 550px !important;
  position: absolute !important;
  top: -4.08rem !important;
} */

.div {
  /* position: relative; */
  display: flex !important;
  justify-content: center !important;
  align-items: center;
}

.divnext {
  display: flex !important;
  justify-content: center !important;
  align-items: center;
  height: 80vh;
  padding: 30px;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.me {
  display: flex !important;
  justify-content: center !important;
  align-items: center;
}
.hr {
}

.banner {
  background-color: gray;
  margin: 5px;
  height: 225px;
  width: 300px;
}

.tempo {
  width: 640px;
  height: 486px;
  max-width: 800px;
  max-height: 600px;
  border-radius: 20px;
  background-color: gray;
}
.toolbar {
  position: absolute !important;
  bottom: 4.08rem !important;
  left: 0 !important;
  width: 100% !important;
}

.alert {
  width: 300px;
  height: 550px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title {
  font-size: 1.2rem;
}

.content {
  font-size: 1rem;
}

.download {
  font-size: 1rem;
  color: #72a1a6;
  font-weight: 600;
  margin-top: 0;
}

.warning {
  font-size: 1.2rem;

  margin-top: 3rem;
}
.enter {
  display: flex;
  justify-content: center;
}
